.Main{
    width: 83%;
    height: 100vh;
}

/* temprary
.main_div{
    padding: 20px;
    border: 1px solid red;
    height: 90vh;
    background-color: #b9e8e8;
} */

.form_div{
    display: flex;
    /* border: 1px solid red; */
    padding: 20px;
   justify-content: space-evenly;
}

.select_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
width: 49%;
}

.select_div select{
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title input{
    display: flex;
    flex-direction: column;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}

.title_div{
    padding: 20px 30px;
    /* border: 1px solid red; */
}

.price{
    display: flex;
    /* border: 1px solid red; */
    padding: 20px;
   justify-content: space-evenly;
}

.price_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
width: 24%;
}

.price_div input{
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}

.desc_div{
    padding: 20px 30px;
    /* border: 1px solid red; */
}

.desc{
    display: flex;
    flex-direction: column; 
}

.desc input{
    display: flex;
    flex-direction: column;
    height: 80px;
    border-radius: 10px;
    padding: 1px 20px;
}

.button{
    padding: 20px 30px;
}

.pricee{
    display: flex;
    /* border: 1px solid red; */
    padding: 20px;
   justify-content: space-evenly;
}

.pricee_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
width: 49%;
}

.pricee_div input{
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}
